.idea/
__pycache__/
bot_engine/models/

# Environments
.env
.venv
env/
venv/
venv2/
ENV/
env.bak/
venv.bak/
domain_gen.yml
story_graph.dot
bot_engine/data/embeddings/
rasa_core.log
python3
backup/
msgbot_frontend-master
bot_engine/message_store.json
bot_engine/components/__init__.pyc
